<div>
  <mat-card class="card-select">
    <mat-form-field>
      <mat-select placeholder="Select Your Camera" >
        <mat-option *ngFor="let camera of cameras" [value]="camera" (click)="onClick(camera)" >
          {{camera}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
  <div class="images-content">
    <mat-card class="card-content" *ngFor="let marImage of marsImages" >
      <mat-card-title>{{marImage.rover.name}}</mat-card-title>
      <img mar-card-image [src]="marImage.img_src" alt="">
      <mat-card-subtitle>{{marImage.earth_date}}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
